BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0
PointerAlignment: Right
IndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCBlockIndentWidth: 4
SpacesInContainerLiterals: false
TabWidth: 4
UseTab: Never
